
.product-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}
.product-item {
  width: 200px;
  padding: 10px;
  margin: 20px;
  text-align: center;
  cursor: pointer;
}
.product-item img {
  width: 100%;
  height: auto;
}
.button {
  padding: 10px 20px;
  background-color: black;
  color: white;
  border: none;
  margin: 5px;
  cursor: pointer;
}
.button:hover{
background-color: #45a049;
}
.cart-buttons {
  margin-top: 20px;
}
#view-cart-button{
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}
#view-cart-button:hover{
  background-color: #45a049;
}

